%p{:style => "color: green"}= notice

.row
  .col-md-12.mt-3
    = render @conversation

.row
  .col-md-12.mt-3{ 'data-controller' => 'conversation', 'data-conversation-id-value' => @conversation.id }
.row
  .col-md-12.mt-3
    = link_to 'Back to conversations', conversations_path
